Flask
gunicorn
PyDictionary
nltk
xlrd
tensorflow
click>=2.0
Werkzeug>=0.7
Jinja2>=2.4
itsdangerous>=0.21
goslate
requests
beautifulsoup4
six
MarkupSafe>=0.23
futures
idna<2.7,>=2.5
chardet<3.1.0,>=3.0.2
urllib3<1.23,>=1.21.1
certifi>=2017.4.17
enum34>=1.1.6
numpy>=1.12.1
wheel>=0.26
tensorflow-tensorboard<0.5.0,>=0.4.0rc1
protobuf>=3.3.0
markdown>=2.6.8
bleach==1.5.0
html5lib==0.9999999
setuptools