<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <title>Grayscale - Start Bootstrap Theme</title> -->
    <title>Complify - NLP Final Project</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

<body>

	 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href=''>Complifier</a>
      </div>
    </nav>

        <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <form method="post" action='/complifing2'>
              	<p class="intro-text">Input text to complify:</p>
              	<textarea type="text" maxlength="5000000" name="input2" size="5000" style="width:600px;height:250px;background-color:#dbdbdb;"></textarea><br><br>
              	<button type="submit" class="btn btn-info">Complifier 2.0</button>
                <a href="{{ link }}" class="btn btn-info" role="button">Previous</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

</body>
</html>